<div class="user_nav grid-12">
 <a class="post" href="/tags/new">＋</a>
</div>

<div class="contents tag">
  <% @tags.each do |tag| %>
      <span class="tag name">
        <%= tag.tag_name %>
      </span>
      <ul class="more_lists">
          <li>
            <%= link_to '削除', "/tags/#{tag.id}", method: :delete %>
          </li>
        </ul>
    </div>
  <% end %>
</div>
